html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

html {
  background: #fff;
}

body {
  color: #000;
  font: 13px consolas, menlo, monaco, monospace-serif;
  width: 800px;
  margin: 0 auto;
  padding: 50px 0;
}

div {
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 20px;
  position: relative;
  font-weight: bold;
}

h2 {
  margin: 20px 0 20px 0;
  position: relative;
  font-weight: bold;
  font-size:15px;
}

h3 {
  font-weight: bold;
  position: relative;
  margin: 20px 0 20px 0;
}


h1 code {
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

h1 i {
  position: absolute;
  left: -25px;
  font-style: normal;
}

a {
  color: blue;
  text-decoration: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

a:visited {
  color: purple;
}

a:hover {
  color: red;
}



dt a,
dt a:visited,
h3 a,
h3 a:visited,
h2 a,
h2 a:visited {
  position: absolute;
  text-decoration: none;
  border: none;
  color: #eee;
  left: -15px;
  transition: color 0.2s linear;
}


dt:hover a,
h3:hover a,
h2:hover a {
  color: #888;
}


dt:target a,
h2:target a,
h3:target a,
dt:target a:hover,
h2:target a:hover,
h3:target a:hover {
  color: red;
}

h3 a:hover,
dt a:hover,
h2 a:hover {
  text-decoration: underline;
  color: blue;
}

p {
  margin: 20px 0;
  line-height: 1.5em;
}

dt {
  position: relative;
}

dl {
  padding-right: 100px;
  margin: 20px 0;
}


dd {
  padding-left: 25px;
  margin: 10px 0 20px 0;
}

dt + dd > pre {
  margin: 0;
}

dd + dd > pre {
  margin: -10px 0 10px 0;
}

ul li {
  padding-left: 10px;
  margin-bottom: 10px;
}

ul li:after {
  content: ",";
  color: #666;
}

ul li:last-child {

}

ul li:last-child:after {
  content: "."
}

ul li:before {
  content: "-";
  color: #666;
  padding-right: 10px;
}

em {
  font-style: italic;
}

code, pre {
  font-family: consolas, menlo, monaco, monospace-serif;
  background: rgba(0,0,0,0.03);
}

code a,
code {
  color: #666;
}

code:hover {
  background: #f0f0f0;
}

pre {
  background: rgba(0,0,0,0.03);
  padding: 10px;
  border-radius: 3px;
  margin: 20px 0;
  border: 1px solid rgba(0,0,0,0.1);
  transition: border-color 0.1s linear;
  cursor: text;
  position: relative;
}

pre code {
  background: transparent;
}

pre a.hash {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  padding: 5px;
  border-top-left-radius: 3px;
  font-style: normal;
  color: rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 0.2s;
  border: none;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

pre:hover a.hash {
  opacity: 1;
}

pre a.hash:hover {
  text-decoration: none;
  color: rgba(255,255,255,1);
  background: rgba(0,0,0,0.3);
}

pre:target {
  border-color: red;
}

pre:hover {
  background:rgba(0,0,0,0.05);
  border-color: rgba(0,0,0,0.3);
}

pre a {
  color: blue;
  border-bottom-width: 0;
}

pre a:hover {
  border-bottom-width: 1px;
}

i {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

dl {
  margin: 10px 0;
}

body > img {
	box-shadow: 1px 1px 5px #ddd;
}


@media screen and (max-device-width: 480px) { /* smartphone */

  body { padding: 50px 0 20px 0; }
  pre {
    overflow: scroll;
  }
}


@media only screen and (device-width: 768px) { /* tablet */

  body { padding: 50px 0 20px 0; }
  pre {
    overflow: scroll;
  }
}

/*
@media only screen and (-webkit-min-device-pixel-ratio: 2) { /* retina

}
*/


.hll { background-color: #ffffcc }
.c { color: #999988; font-style: italic } /* Comment */
.err { color: #a61717; background-color: #e3d2d2 } /* Error */
.k { color: #000000; font-weight: bold } /* Keyword */
.o { color: #000000; font-weight: bold } /* Operator */
.cm { color: #999988; font-style: italic } /* Comment.Multiline */
.cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.c1 { color: #999988; font-style: italic } /* Comment.Single */
.cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.ge { color: #000000; font-style: italic } /* Generic.Emph */
.gr { color: #aa0000 } /* Generic.Error */
.gh { color: #999999 } /* Generic.Heading */
.gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.go { color: #888888 } /* Generic.Output */
.gp { color: #555555 } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #aaaaaa } /* Generic.Subheading */
.gt { color: #aa0000 } /* Generic.Traceback */
.kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.kt { color: #445588; font-weight: bold } /* Keyword.Type */
.m { color: #009999 } /* Literal.Number */
.s { color: #d01040 } /* Literal.String */
.na { color: #008080 } /* Name.Attribute */
.nb { color: #0086B3 } /* Name.Builtin */
.nc { color: #445588; font-weight: bold } /* Name.Class */
.no { color: #008080 } /* Name.Constant */
.nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.ni { color: #800080 } /* Name.Entity */
.ne { color: #990000; font-weight: bold } /* Name.Exception */
.nf { color: #990000; font-weight: bold } /* Name.Function */
.nl { color: #990000; font-weight: bold } /* Name.Label */
.nn { color: #555555 } /* Name.Namespace */
.nt { color: #000080 } /* Name.Tag */
.nv { color: #008080 } /* Name.Variable */
.ow { color: #000000; font-weight: bold } /* Operator.Word */
.w { color: #bbbbbb } /* Text.Whitespace */
.mf { color: #009999 } /* Literal.Number.Float */
.mh { color: #009999 } /* Literal.Number.Hex */
.mi { color: #009999 } /* Literal.Number.Integer */
.mo { color: #009999 } /* Literal.Number.Oct */
.sb { color: #d01040 } /* Literal.String.Backtick */
.sc { color: #d01040 } /* Literal.String.Char */
.sd { color: #d01040 } /* Literal.String.Doc */
.s2 { color: #d01040 } /* Literal.String.Double */
.se { color: #d01040 } /* Literal.String.Escape */
.sh { color: #d01040 } /* Literal.String.Heredoc */
.si { color: #d01040 } /* Literal.String.Interpol */
.sx { color: #d01040 } /* Literal.String.Other */
.sr { color: #009926 } /* Literal.String.Regex */
.s1 { color: #d01040 } /* Literal.String.Single */
.ss { color: #990073 } /* Literal.String.Symbol */
.bp { color: #999999 } /* Name.Builtin.Pseudo */
.vc { color: #008080 } /* Name.Variable.Class */
.vg { color: #008080 } /* Name.Variable.Global */
.vi { color: #008080 } /* Name.Variable.Instance */
.il { color: #009999 } /* Literal.Number.Integer.Long */
