
@import "_vars.scss";
//@import "../../node_modules/rmr-util/src/styles/rmr-util.scss";
@import "../../node_modules/rmr-util/src/styles/_rmr-mixins.scss";

#man {


  legend {
    color: var(--color-fg);
  }

  /*
  https://developer.mozilla.org/en-US/docs/Web/CSS/::-ms-browse
  */
  input[type=file] {

    -moz-appearance: none;
    cursor: pointer;

    &::-webkit-file-upload-button {

      -webkit-appearance: none;

      background: var(--color-button-bg);
      border-radius: 2px;
      border: 1px solid rgba(0,0,0,0.3);
      font-family: consolas, menlo, monaco, monospace-serif;
      font-size: 11px;
      padding: 5px 10px;
      transition:
      background-color $transition-duration,
        transform $transition-duration-short,
        color $transition-duration-short;
    }

    &[disabled] {
      opacity: 0.5;
      cursor: not-allowed;

      &::-webkit-file-upload-button {
        cursor: not-allowed;
      }
    }

    &:not([disabled]):focus,
    &:not([disabled]):hover {

      &::-webkit-file-upload-button {
        background: #ddd;
        cursor: pointer;
        transform: scale(1.1);
        outline: none;
        border-color:rgba(0,0,0,0.5);
      }
    }

    &:not([disabled]):active {
      &::-webkit-file-upload-button {
        transform: translate(0px, 2px);
        color: #fff;
        background: #aaa;
        outline: none;
      }
    }
  }

  /* ensure that styles applied to reset, submit, & button are also applied to file input */
  input[type=reset],
  input[type=submit],
  button {
    -moz-appearance: none;
    -webkit-appearance: none;

/*
    border-radius: 4px;
    border: 2px solid #444;
*/

    background: var(--color-button-bg);
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.3);
    font-family: consolas, menlo, monaco, monospace-serif;
    font-size: 11px;
    padding: 5px 10px;
    transition: background-color $transition-duration, transform $transition-duration-short, color $transition-duration-short;

    &[disabled] {
      opacity: 0.8;
      cursor: not-allowed;
    }

    &:not([disabled]):focus,
    &:not([disabled]):hover {
      background: #ddd;
      cursor: pointer;
      transform: scale(1.1);
      outline: none;
      border-color:rgba(0,0,0,0.5);
    }

    &:not([disabled]):active {
      transform: translate(0px, 2px);
      color: #fff;
      background: #aaa;
      outline: none;
    }
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: var(--color-button-bg);
    background-image: url(man.svg#select-dropdown); /* triangle.svg */
    background-position: right 7px center;
    background-repeat: no-repeat;
    background-size: 9px 6px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.3);
    font-family: consolas, menlo, monaco, monospace-serif;
    font-size: 11px;
    padding: 5px 22px 5px 10px;
    transition: background-color $transition-duration, transform $transition-duration-short, color $transition-duration, border $transition-duration;

    @include rmr-webkit-mobile {
      background-image: url(svg/triangle.svg)
    }

    &[disabled] {
      background-image: url(man.svg#select-dropdown-disabled);
      cursor: not-allowed;
      opacity: 0.8;

      @include rmr-webkit-mobile {
        background-image: url(svg/triangle-disabled.svg)
      }
    }

    &:not([disabled]):focus,
    &:not([disabled]):hover {
      background-color: #ddd;
      background-image: url(man.svg#select-dropdown-hover);
      cursor: pointer;
      transform: scale(1.1);
      border-color:rgba(0,0,0,0.5);
      outline: none;

      @include rmr-webkit-mobile {
        background-image: url(svg/triangle-hover.svg)
      }
    }
  }

  textarea,
  input[type=email],
  input[type=time],
  input[type=date],
  input[type=password],
  input[type=number],
  input[type=search],
  input[type=color],
  input[type=text],
  input[type=tel] {

    -webkit-appearance: none;
    font-size: 11px;
    background-color: #f8f8f8;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 5px 10px;
    border-radius: 4px;
    transition: transform $transition-duration, background $transition-duration, color $transition-duration, border $transition-duration;

    &:not([disabled]):hover {
      transform: scale(1.1);
      border-color:rgba(0,0,0,0.5);
    }

    &:focus {
      transform: scale(1.2);
      outline: none;
      background-color: #f0f0f0;
      box-shadow: 0 0 5px rgba(0,0,0,0.2);
      border-color:rgba(0,0,0,0.6);
    }

    &[disabled] {
      background-color: transparent;
      color: rgba(0,0,0,0.2);
      border: 1px solid rgba(0,0,0,0.2);
      cursor: not-allowed;
    }
  }

  input[type=color] {

    &[disabled] {
      background-color: transparent;
      color: rgba(0,0,0,0.2);
      border: 1px solid rgba(0,0,0,0.2);
      cursor: not-allowed;
      &:hover {
        transform: none;
        border-color: rgba(0,0,0,0.2);
      }
    }

    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;

    cursor: pointer;
    display: inline-block;
    height: 20px;
    transition: border $transition-duration, transform $transition-duration-short;
    width: 25px;
    padding: 4px;

    @include rmr-firefox {
      background: #fff;
//      height: 30px;
//      width: 35px;
    }

    &:hover,
    &:focus {
      transform: scale(1.2);
      outline: none;
      border-color: #444;
    }

    &::-webkit-color-swatch-wrapper {
      padding: 0;
    }

    &::-webkit-color-swatch {
      border-radius: 2px;
    }

  }


  input[type=number] {
    width: 6em;
    padding-right: 5px;
  }


  input[type=time] {
    display: inline-block;
    width: 70px;
    @include rmr-webkit-mobile {
      width: 100px;
    }
  }

  input[type=date] {
    display: inline-block;
    width: 120px;

    @include rmr-webkit-mobile {
      width: 120px;
    }
  }

  textarea {
    width: 100%;
    &:not([disabled]):hover,
    &:focus {
      transform: scale(1, 1);
    }
  }


  input[type=search] {
    background-image: url(man.svg#search);
    background-position: 5px 50%;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    padding-left: 25px;

    @include rmr-webkit-mobile {
      background-image: url(svg/search.svg);
    }

    &[disabled] {
      background-image: url(man.svg#search-disabled);
      cursor: not-allowed;

      @include rmr-webkit-mobile {
        background-image: url(svg/search-disabled.svg);
      }
    }

    &:not([disabled]):hover,
    &:not([disabled]):focus {
      background-image: url(man.svg#search-hover);

      @include rmr-webkit-mobile {
        background-image: url(svg/search-hover.svg);
      }
    }

  }

  // https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
  input[type=range] {
    background: transparent;
    -webkit-appearance: none;
    border-radius: 10px;
    height: 16px;
    width: 120px;
    position: relative;
    overflow: visible;
    transition: background $transition-duration;

    &:focus {
      outline: none;
    }

    &::-moz-range-thumb {
      background: #888;
      border: 2px solid #888;
      border-radius: 32px;
      height: 12px;
      transition: transform $transition-duration-short;
      width: 12px;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      background: #888;
      border: 6px solid #888;
      border-radius: 32px;
      height: 16px;
      margin-top: -6px;
      transition: transform $transition-duration-short;
      width: 16px;
    }

    &::-moz-range-track {
      background: #bbb;
      border-radius: 4px;
      height: 4px;
      transition: background-color $transition-duration;
    }

    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      background: #bbb;
      border-radius: 4px;
      height: 4px;
      outline: none;
      transition: background-color $transition-duration;
    }

    &:not([disabled]) {
      cursor: pointer;

      &:focus,
      &:hover {

        cursor: pointer;

        &::-moz-range-track {
          background: #666;
        }
        &::-webkit-slider-runnable-track {
          background: #666;
        }

        &::-moz-range-thumb {
          display: block;
          transform: scale(1.5);
          background: #666;
          border-color: #666;
        }
        &::-webkit-slider-thumb {
          display: block;
          transform: scale(1.5);
          background: #666;
          border-color: #666;

        }
      }

    }

    &[disabled] {

      cursor: not-allowed;

      &::-moz-range-thumb {
        background: #ccc;
        border-color: #bbb;
      }

      &::-webkit-slider-thumb {
        background: #ccc;
        border-color: #bbb;
      }

      &::-webkit-slider-runnable-track {
        background: #ccc;
      }
    }
  }

  /* safari 11 desktop */
  @media not all and (min-resolution:.001dpcm) and (hover: hover) { @supports (-webkit-appearance:none) and (stroke-color:transparent) {

    /* not sure why safari 11 needs different padding for search elements */
    input[type=search] {
      padding-top: 2px;
      padding-left: 15px;
      padding-bottom: 2px;
    }
  } }

  /* reset padding for search input on mobile browsers */
  @media only screen  and (max-device-width: 1024px) {
    input[type=search] {
      padding: 5px 5px 5px 23px;
    }
  }


  input[type=radio],
  input[type=checkbox]  {

    -moz-appearance: none;
    -webkit-appearance: none;

    appearance: none;
    background-size: 11px 11px;
/*    background-color: #fff;*/
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: none;
    border-radius: 0;
    height: 11px;
    width: 11px;
    transition: background-image $transition-duration, transform $transition-duration-short;
    padding: 0 2px;
    transform: scale(1.5);

    &:not([disabled]):hover {
      cursor: pointer;
      transform: scale(2);
    }

    &:disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    &:focus {
      transform: scale(2);
      outline: none;
    }
  }

  input[type=checkbox] {
    background-image: url(man.svg#check);
    @include rmr-webkit-mobile {
      background-image: url(svg/check.svg);
    }

    &:not([disabled]):active {
      background-image: url(man.svg#check-active);
      @include rmr-webkit-mobile {
        background-image: url(svg/check-active.svg);
      }
    }

    &:checked {
      background-image: url(man.svg#check-checked);
      @include rmr-webkit-mobile {
        background-image: url(svg/check-checked.svg);
      }

      &:not([disabled]):active {
        background-image: url(man.svg#check-checked-active);
        @include rmr-webkit-mobile {
          background-image: url(svg/check-checked-active.svg);
        }
      }
    }
  }

  input[type=radio] {
    background-image: url(man.svg#radio);
    @include rmr-webkit-mobile {
      background-image: url(svg/radio.svg);
    }

    &:not([disabled]):active {
      background-image: url(man.svg#radio-active);
      @include rmr-webkit-mobile {
        background-image: url(svg/radio-active.svg);
      }
    }

    &:checked {
      @include rmr-webkit-mobile {
        background-image: url(svg/radio-checked.svg);
      }
      background-image: url(man.svg#radio-checked);

      &:not([disabled]):active {
        background-image: url(man.svg#radio-checked-active); /* radio-checked-active.svg */
        @include rmr-webkit-mobile {
          background-image: url(svg/radio-checked-active.svg);
        }

      }
    }
  }

  /*
    progress
  */
  progress {
    -webkit-appearance: none;
    -moz-appearance: none;

    border: none;
    border-radius: 5px;
    padding: 0;
    width: 120px;

    @include rmr-firefox {
      background: #ddd;
      height: 4px;
    }

    &[disabled] {
      opacity: 0.5;
    }

    &::-webkit-progress-inner-element { }
    &::-webkit-progress-bar {
      background: #ddd;
      border: none;
      height: 4px;
      border-radius: 5px;
    }

    &::-webkit-progress-value {
      background: #888;
      border-radius: 5px;
    }

    &::-moz-progress-bar {
      background: #888;
      border-radius: 5px;
      height: 4px;
    }

  }


  /*
    meter
  */
  meter {
    -webkit-appearance: none;

    @include rmr-firefox {
      height: 4px;
      background: #ddd;
      border: none;
      border-radius: 5px;
    }

    &[disabled] {
      opacity: 0.5;

      ::-webkit-meter-optimum-value {
        background: #aaa;
      }
      ::-webkit-meter-suboptimum-value {
        background: #aaa;
      }
      ::-webkit-meter-even-less-good-value {
        background: #aaa;
      }
    }

    &::-moz-meter-bar {
      height: 4px;
      background: #888;
      border-radius: 5px;
    }

    &::-webkit-meter-bar {
      height: 4px;
      background: #ddd;
      border-radius: 5px;
    }

    &::-webkit-meter-optimum-value {
      background: rgba(0,192,0,1);
      border-radius: 5px;
    }

    &::-webkit-meter-optimum-value {
      background: rgba(0,192,0,1);
      border-radius: 5px;
    }
    &::-webkit-meter-suboptimum-value {
      background: orange;
      border-radius: 5px;
    }
    &::-webkit-meter-even-less-good-value {
      background: red;
      border-radius: 5px;
    }
  }


  label {

    input {
      &[disabled],
      &[disabled] ~ span {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }

    input[type=radio],
    input[type=checkbox] {

      transition: transform $transition-duration;

      &:not([disabled]):hover {
        cursor: pointer;
        transform: scale(2);

        & ~ span {
          cursor: pointer;
        }
      }
    }
  }
}
