$modalDuration : 0.2s;

.rmr-modal-bg {

  background: rgba(0,0,0,0.9);
  height: 100%;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: background 0.2s, opacity 0.5s;
  width: 100%;
  z-index: 0;

  &:hover {
    background: rgba(0,0,0,0.8);
  }

  &.rmr-modal-focus {
    cursor: pointer;
    opacity: 1;
  }
}

.rmr-modal-dialog {

  background: #000;
  border-radius: 5px;
  box-shadow: 1px 1px 10px #000;
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  transition: background $modalDuration, opacity $modalDuration;
  z-index: 1;

  &.rmr-modal-xhr {
    transition: background $modalDuration, opacity $modalDuration, width $modalDuration, left $modalDuration, right $modalDuration, top $modalDuration, height $modalDuration;
  }

  &.rmr-modal-loading {

    button.rmr-modal-dismiss {
      display: none;
    }

    .rmr-modal-curtains {
      opacity: 1;
    }
  }

  .rmr-modal-curtains {
    background: #000;
    height: 100%;
    opacity: 0;
    position: absolute;
    transition: opacity 0.2s;
    width: 100%;
    z-index: 2;

    svg.rmr-loader {

      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: 20px 20px;
      display: block;
      height: 40px;
      position: absolute;
      transition: background 0.2s;
      width: 40px;

      &:hover {

        background-image: url(data:image/svg+xml;charset=UTF-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MyIgaGVpZ2h0PSI1MyIgdmlld0JveD0iMCAwIDUzIDUzIj4KICA8cGF0aCBmaWxsPSIjRkZGIiBkPSJNMjYuMzA5Mzk0LDE5LjM2MjA1IEw4LjgxNzA0MTIsMi40NTgxMzI5IEM2LjgzMTMwNTc0LDAuNTM5MTk2NzgxIDMuNjY1OTQ0MDEsMC41OTMzNDgzNDUgMS43NDcwMDc5LDIuNTc5MDgzOCBDLTAuMTcxOTI4MjE5LDQuNTY0ODE5MjYgLTAuMTE3Nzc2NjU1LDcuNzMwMTgwOTkgMS44Njc5NTg4LDkuNjQ5MTE3MSBMMTkuMzYwMzExNiwyNi41NTMwMzQyIEwyLjQ1ODI1NzksNDQuMDQzNDU4OCBDMC41MzkzMjE3ODEsNDYuMDI5MTk0MyAwLjU5MzQ3MzM0NSw0OS4xOTQ1NTYgMi41NzkyMDg4LDUxLjExMzQ5MjEgQzQuNTY0OTQ0MjYsNTMuMDMyNDI4MiA3LjczMDMwNTk5LDUyLjk3ODI3NjcgOS42NDkyNDIxLDUwLjk5MjU0MTIgTDI2LjU1MTI5NTgsMzMuNTAyMTE2NiBMNDQuMDQyOTU4OCw1MC40MDUzNjcxIEM0Ni4wMjg2OTQzLDUyLjMyNDMwMzIgNDkuMTk0MDU2LDUyLjI3MDE1MTcgNTEuMTEyOTkyMSw1MC4yODQ0MTYyIEM1My4wMzE5MjgyLDQ4LjI5ODY4MDcgNTIuOTc3Nzc2Nyw0NS4xMzMzMTkgNTAuOTkyMDQxMiw0My4yMTQzODI5IEwzMy41MDAzNzgyLDI2LjMxMTEzMjQgTDUwLjQwNTQ5MjEsOC44MTc1NDEyIEM1Mi4zMjQ0MjgyLDYuODMxODA1NzQgNTIuMjcwMjc2NywzLjY2NjQ0NDAxIDUwLjI4NDU0MTIsMS43NDc1MDc5IEM0OC4yOTg4MDU3LC0wLjE3MTQyODIxOSA0NS4xMzM0NDQsLTAuMTE3Mjc2NjU1IDQzLjIxNDUwNzksMS44Njg0NTg4IEwyNi4zMDkzOTQsMTkuMzYyMDUgTDI2LjMwOTM5NCwxOS4zNjIwNSBaIi8+Cjwvc3ZnPgo=);
        border-radius: 10px;
        cursor: pointer;

        rect,path {
          opacity: 0;
        }
      }

      rect,path {
        fill: rgba(255,255,255,0.8);
        transition: opacity 0.2s;
      }

    }
  }

  > img,
  > video {
    background: #000;
    height: 100%;
    width: 100%;
  }

  &:focus {
    outline: none;
  }

/*  &.rmr-modal-mobile { */
    button.rmr-modal-dismiss { 
/*      display: none; */
    }
/*  } */

  &:hover {
    button.rmr-modal-dismiss {
      opacity: 1;
    }
  }

  > iframe {
    background: #000;
  }

  > section {
    transition: opacity $modalDuration;
    overflow: auto;    
  }

  &.rmr-modal-focus {
    opacity: 1;
  }

  /* node & html */
  &.rmr-modal-node {
    > section {
      height: 100%;
      opacity: 1;
      position: relative;
      width: 100%;
    }
    height: auto;
    left: 10%;
    margin: 0 auto;
    top: 10%;
    width: 80%;
  }

  &.rmr-modal-loading {
    height: 60px;
    left: 45%;
    opacity: 1;
    right: 45%;
    top: 20%;
    width: 10%;

    > section {
      opacity: 1;
    }

  }

  /* youtube & video */
  &.rmr-modal-video {
    height: 80%;
    left: 10%;
    top: 10%;
    width: 80%;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  button.rmr-modal-dismiss {

    background-color: #000;
    background-image: url(data:image/svg+xml;charset=UTF-8;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1MyIgaGVpZ2h0PSI1MyIgdmlld0JveD0iMCAwIDUzIDUzIj4KICA8cGF0aCBmaWxsPSIjRkZGIiBkPSJNMjYuMzA5Mzk0LDE5LjM2MjA1IEw4LjgxNzA0MTIsMi40NTgxMzI5IEM2LjgzMTMwNTc0LDAuNTM5MTk2NzgxIDMuNjY1OTQ0MDEsMC41OTMzNDgzNDUgMS43NDcwMDc5LDIuNTc5MDgzOCBDLTAuMTcxOTI4MjE5LDQuNTY0ODE5MjYgLTAuMTE3Nzc2NjU1LDcuNzMwMTgwOTkgMS44Njc5NTg4LDkuNjQ5MTE3MSBMMTkuMzYwMzExNiwyNi41NTMwMzQyIEwyLjQ1ODI1NzksNDQuMDQzNDU4OCBDMC41MzkzMjE3ODEsNDYuMDI5MTk0MyAwLjU5MzQ3MzM0NSw0OS4xOTQ1NTYgMi41NzkyMDg4LDUxLjExMzQ5MjEgQzQuNTY0OTQ0MjYsNTMuMDMyNDI4MiA3LjczMDMwNTk5LDUyLjk3ODI3NjcgOS42NDkyNDIxLDUwLjk5MjU0MTIgTDI2LjU1MTI5NTgsMzMuNTAyMTE2NiBMNDQuMDQyOTU4OCw1MC40MDUzNjcxIEM0Ni4wMjg2OTQzLDUyLjMyNDMwMzIgNDkuMTk0MDU2LDUyLjI3MDE1MTcgNTEuMTEyOTkyMSw1MC4yODQ0MTYyIEM1My4wMzE5MjgyLDQ4LjI5ODY4MDcgNTIuOTc3Nzc2Nyw0NS4xMzMzMTkgNTAuOTkyMDQxMiw0My4yMTQzODI5IEwzMy41MDAzNzgyLDI2LjMxMTEzMjQgTDUwLjQwNTQ5MjEsOC44MTc1NDEyIEM1Mi4zMjQ0MjgyLDYuODMxODA1NzQgNTIuMjcwMjc2NywzLjY2NjQ0NDAxIDUwLjI4NDU0MTIsMS43NDc1MDc5IEM0OC4yOTg4MDU3LC0wLjE3MTQyODIxOSA0NS4xMzM0NDQsLTAuMTE3Mjc2NjU1IDQzLjIxNDUwNzksMS44Njg0NTg4IEwyNi4zMDkzOTQsMTkuMzYyMDUgTDI2LjMwOTM5NCwxOS4zNjIwNSBaIi8+Cjwvc3ZnPgo=);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    border-radius: 15px;
    border: 2px solid #fff;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
    cursor: pointer;
    height: 24px;
    margin: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: -12px;
    text-indent: -1000em;
    top: -12px;
    transition: opacity $modalDuration, transform $modalDuration, background-color $modalDuration;
    width: 24px;
    z-index: 3;

    &:focus,
    &:hover {
      outline: none;
      transform: scale(1.2, 1.2);
    }
  }

  &.rmr-modal-mobile .rmr-modal-dismiss {
    opacity: 1;
  }

}
