@import "../../node_modules/rmr-util/src/styles/rmr-util.scss";

$transition-duration : 0.2s;
$transition-duration-short : 0.1s;

html {

    /* background colors */
    --color-bg: #f8f8f8;
    --color-code-bg: #{rgba(0, 0, 0, 0.05)};
    --color-button-bg: #{rgba(0, 0, 0, 0.05)};
    --color-input-bg: #eee;
    --color-input-focus-bg: #fff;

    /* foreground colors */
    --color-fg: #000;
    --color-code-fg: #000;

    /* link colors */
    --color-link: blue;
    --color-link-visited: purple;

    --color-title: #444;
    --color-border: #{rgba(127,127,127,0.1)};

   @include rmr-dark {
      /* background-colors */
      --color-bg: #222;
      --color-code-bg: #333;
      --color-button-bg: #bbb;
      --color-input-bg: #777;
      --color-input-focus-bg: #aaa;

      /* foreground colors */
      --color-fg: #fff;
      --color-code-fg: #ccc;

      /* link colors */
      --color-link: #3f9fff;
      --color-link-visited: #{rgb(241, 85, 215)};

      --color-title: #aaa;
      --color-border: #444;

   }

}
