@charset "UTF-8";

@import "_vars.scss";
@import "_form.scss";
@import "_modal.scss";
@import "_popover.scss";


* {
  box-sizing:border-box;
}

/* remove with next rmr-util */
fieldset {
  margin: 0;
  padding: 0;
}


div.footnotes {
  border-top: 1px solid var(--color-border);
  margin: 2em 0 0 0;
  padding-top: 2em;
}

body .man-popover {
  max-width: 300px;

  a,
  a:visited {
    color: #fff;
  }
  a:hover {
    color: red;
  }

  .bd { padding: 10px; }
  p {
    margin: 0;
  }
  a.reversefootnote { display: none; }
}


body {

  -webkit-tap-highlight-color: rgba(32, 32, 32, 0.1);
  background: var(--color-bg);
  color: var(--color-fg);
  font: 14px menlo, consolas, monaco, monospace;
  padding: 50px 0;
}

div {
/*  position: relative;
  z-index: 1;*/
}

h1 {
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

h2 {
  font-size:15px;
  font-weight: bold;
  margin: 20px 0 20px 0;
  position: relative;
}

h3 {
  font-weight: bold;
  margin: 20px 0 20px 0;
  position: relative;
}

h1, h2, h3 {
  color: var(--color-title);
  line-height: 2em;
}

h1 code {
  color: var(--color-fg);
  font-size: 20px;
  font-weight: bold;
}

h1 i {
  font-style: normal;
  left: -25px;
  position: absolute;
}

a {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: var(--color-link);
  text-decoration: none;

  &:visited {
    color: var(--color-link-visited);
  }

  &:hover {
    color: red;
  }
}

strong {
  font-weight: inherit;
  border-bottom: 1px solid #000;
}

h1 a,
h1 a:visited {
  border-bottom-width: 0;
  color: var(--color-fg);
}

h1 a:hover {
  border-bottom-width: 1px;
}

dt a[aria-hidden],
dt a[aria-hidden]:visited,
h3 a[aria-hidden],
h3 a[aria-hidden]:visited,
h2 a[aria-hidden],
h2 a[aria-hidden]:visited {
  border: none;
  color: #eee;
  left: -15px;
  position: absolute;
  text-decoration: none;
  transition: color $transition-duration linear;
}


dt:hover a,
h3:hover a,
h2:hover a {
  color: #888;
}


dt:target a,
h2:target a,
h3:target a,
dt:target a:hover,
h2:target a:hover,
h3:target a:hover {
  color: red;
}

h3 a:hover,
dt a:hover,
h2 a:hover {
  text-decoration: underline;
  color: blue;
}

p {
  margin: 20px 0;
  line-height: 2em;
}

p + p {
  margin-top: -10px;
}

dt {
  position: relative;
}

dl {
  margin: 20px 0;
}

dd {
  line-height: 2em;
  margin: 10px 0;
  padding-left: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}


dd ul, dd ol {
  margin-top: 10px;
}

dd:before {
  content: "-";
  padding-right:10px;
}

dt + dd > pre {
  margin: 0;
}

dd + dt {
  padding-top: 10px;
}

dd + dd > pre {
  margin: -10px 0 10px 0;
}

li {
  line-height: 2em;
  margin-bottom: 10px;
  padding-left: 10px;

  ul {
    margin-top: 10px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  > p {
    margin-top: 0;
    display: inline;
  }
}

ol li {
  list-style-position: inside;
  list-style-type: decimal;
}

li:last-child {
  margin-bottom: 0;
}

ul li:before {
  content: "×";
  color: #666;
  padding-right: 10px;
}

ul.categories {
  li {
    padding-left: 15px;

    &:before {
      content:"";
      background-image: url(man.svg#tag);
      opacity: 0.6;

      @include rmr-webkit-mobile {
        background-image: url(svg/tag.svg);
      }

      background-position: 0% 50%;
      background-repeat: no-repeat;
      background-size: 8px 8px;
      padding-right: 15px;
    }
  }
}


ul.log li,
ol.log li {

}


li.hi {
  color: #FB4541;
}

li.med {
  color: #FC982F;
}

li.lo {
  color: #33B0F4;
}


ul.log li:before, ol.log li:before {
  content: "";
}


em {
  font-style: italic;
}

a {
/*
  &:visited {
    code {
      background: purple;
    }
  }

  &:active {
    code {
      background: red;
    }
  }
*/

}

code {
  background: var(--color-code-bg);
  border-radius: 5px;
  color: var(--color-code-fg);
  padding: 0 5px;
  transition: color $transition-duration, background $transition-duration;
/*
  a {
    background: rgba(0,0,0,0.8);
    color: #fff;
  }
*/
  &:hover {
    background: var(--color-bg);
    color: var(--color-fg);
  }
}

table {
  margin: 20px 0;

  thead {
    th {
      text-align: center;
      border: 1px solid #ccc;
      padding: 5px;
      background: #eee;
    }
  }

  tbody {
    th, td {
      border: 1px solid #ddd;
      padding: 5px;
    }

    th,
    td {
      text-align: center;
/*      cursor: pointer;

      &:hover {
        background: yellow;
      }
*/
    }
  }
}

.rmr-modal-dialog.rmr-modal-node {

  height: 90%;
  left: 5%;
  top: 5%;
  width: 90%;

  pre {
    background: #fff;
    border: none;
    height: 100%;
    margin: 0;
    padding: 5px;

    div {
      height: 100%;
      max-height: 100%;
    }

    &:hover {
      transform: none;
    }
    a.rmr-hash {
      display: none;
    }
    i {
      display: none;
    }
  }
}


pre {

  > code {
    display: block;
    overflow: auto;
  }

  font-family: consolas, menlo, monaco, monospace-serif;
  background: var(--color-code-bg);
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
  cursor: text;
  margin: 20px 0;
  padding: 10px;
  position: relative;
  transition: background-color $transition-duration,
    border-color $transition-duration,
    transform $transition-duration-short;

  div { overflow: scroll; }

  // modal
  > i {
    background: url(man.svg#fullscreen);
    background-size: 100%;
    cursor: pointer;
    display: block;
    height: 20px;
    opacity: 0;
    position: absolute;
    right: -10px;
    text-indent: -1000em;
    top: -10px;
    transition: opacity $transition-duration;
    width: 20px;

    @include rmr-webkit-mobile {
      background-image: url(svg/fullscreen.svg);
      opacity: 1;
    }
  }

  &:hover {
    i {
      opacity: 1;
      transition: transform $transition-duration-short;
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  &.rmr-modal div {
    max-height: 400px;
  }

  &:target,
  &:hover {
    background:rgba(0,0,0,0.05);
    border-color: rgba(0,0,0,0.3);

    &:not(.rmr-modal) {
      transform: scale(1.05);
    }
  }

  table {
    width: 100%;
    margin: 0;
  }

  tr {
    td {
      padding: 0.1em 0;
      transition: background-color $transition-duration-short;
      border: none;
      text-align: left;

      &.code:hover {
        background: rgba(224, 224, 224, 0.4);
      }

      &.col {
        color: rgba(0,0,0,0.1);
        transition: color $transition-duration;
      }

    }

    &.highlighted td.code {
      background: rgba(255, 245, 5, 0.50);
    }
  }

  &:hover td.col {
    color: rgba(0,0,0,0.2);
  }

  &.rmr-lines {
    padding: 10px 0;
  }

  code {
    &:hover {
      background: transparent;
      color: inherit;
    }
    padding: 0;
    line-height: 15px;
    background: transparent;
  }


  a {
    border-bottom-width: 0;
    color: var(--color-link);

    &:hover {
      border-bottom-width: 1px;
    }

    &.rmr-hash {

      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      border-top-left-radius: 3px;
      border: none;
      bottom: 0;
      color: rgba(0,0,0,0.3);
      display: block;
      font-style: normal;
      opacity: 0;
      padding: 5px;
      position: absolute;
      right: 0;
      transition: opacity $transition-duration;
      user-select: none;
    }
  } // /pre a

  &:hover a.rmr-hash {
    opacity: 1;

    &:hover {
      background: rgba(0,0,0,0.3);
      color: rgba(255,255,255,1);
      text-decoration: none;
    }

  }

  i {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }
}



dl {
  margin: 10px 0;
}

hr {
  background: var(--color-border);
  border: none;
  height: 1px;
  line-height: 0;
  margin: 20px 0;
  padding: 0;
}

body > img {
  box-shadow: 1px 1px 5px #ddd;

  & > img.screenshot {
    box-shadow: none;
  }
}

td.col {
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  color: #888;
  cursor: pointer;
  font-size: 11px;
  padding: 0 5px;
  text-align: right;
  user-select: none;
  width: 1%;

  &::before {
    content: attr(data-line-number)
  }

  &:hover::before {
    color: #000;
  }

}

body.dark {

  background: #222;
  color: #ddd;
}

#man {
  max-width: 600px;
  margin: 0 auto;
}


@media screen and (max-device-width: 480px) { /* smartphone */

  body {
    margin: 0 auto;
    padding: 0 10px;
  }

  #man {
    -webkit-text-size-adjust: 100%;
    margin: 0 auto;
    padding: 10px 0;
    width: 100%;
  }

  h1 i {
    display: none;
  }
}


@media only screen and (device-width: 768px) { /* tablet */

  body {
    margin: 0 auto;
    padding: 10px 0;
    width: 90%;
  }
  #man {
    -webkit-text-size-adjust: 100%;
  }

  h1 i {
    display: none;
  }

}

/*
@media only screen and (-webkit-min-device-pixel-ratio: 2) { /* retina

}
*/

pre { /* pygments */

  .hll { background-color: #ffffcc }
  .c { color: #999988; } /* Comment */
  .err { color: #a61717; background-color: #e3d2d2 } /* Error */
  .o { color: #000000;  } /* Operator */
  .cm { color: #999988; } /* Comment.Multiline */
  .cp { color: #999999;  font-style: italic } /* Comment.Preproc */
  .c1 { color: #999988; } /* Comment.Single */
  .cs { color: #999999; font-weight: bold; } /* Comment.Special */
  .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
  .ge { color: #000000; font-style: italic } /* Generic.Emph */
  .gr { color: #aa0000 } /* Generic.Error */
  .gh { color: #999999 } /* Generic.Heading */
  .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
  .go { color: #888888 } /* Generic.Output */
  .gp { color: #555555 } /* Generic.Prompt */
  .gs { font-weight: bold } /* Generic.Strong */
  .gu { color: #aaaaaa } /* Generic.Subheading */
  .gt { color: #aa0000 } /* Generic.Traceback */
  .k { color: #a71d5d; } /* Keyword */
  .kc { color: #0086b3; } /* Keyword.Constant */
  .kd { color: #a71d5d; } /* Keyword.Declaration */
  .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
  .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
  .kr { color: #0086b3; } /* Keyword.Reserved */   /* ex: const in js */
  .kt { color: #445588; font-weight: bold } /* Keyword.Type */
  .m { color: #009999 } /* Literal.Number */
  .s { color: #183691 } /* Literal.String */
  .na { color: #008080 } /* Name.Attribute */
  .nb { color: #0086B3 } /* Name.Builtin */
  .nc { color: #445588; } /* Name.Class */
  .no { color: #008080 } /* Name.Constant */
  .nd { color: #445588; } /* Name.Decorator */
  .ni { color: #800080 } /* Name.Entity */
  .ne { color: #990000; font-weight: bold } /* Name.Exception */
  .nf { color: #990000; font-weight: bold } /* Name.Function */
  .nl { color: #990000; font-weight: bold } /* Name.Label */
  .nn { color: #555555 } /* Name.Namespace */
  .nt { color: #63a35c } /* Name.Tag */
  .nv { color: #008080 } /* Name.Variable */
  .ow { color: #000000; font-weight: bold } /* Operator.Word */
  .w { color: #bbbbbb } /* Text.Whitespace */
  .mf { color: #009999 } /* Literal.Number.Float */
  .mh { color: #009999 } /* Literal.Number.Hex */
  .mi { color: #009999 } /* Literal.Number.Integer */
  .mo { color: #009999 } /* Literal.Number.Oct */
  .sb { color: #d01040 } /* Literal.String.Backtick */
  .sc { color: #d01040 } /* Literal.String.Char */
  .sd { color: #d01040 } /* Literal.String.Doc */
  .s2 { color: #d01040 } /* Literal.String.Double */
  .se { color: #d01040 } /* Literal.String.Escape */
  .sh { color: #d01040 } /* Literal.String.Heredoc */
  .si { color: #d01040 } /* Literal.String.Interpol */
  .sx { color: #d01040 } /* Literal.String.Other */
  .sr { color: #009926 } /* Literal.String.Regex */
  .s1 { color: #183691 } /* Literal.String.Single */
  .ss { color: #990073 } /* Literal.String.Symbol */
  .bp { color: #999999 } /* Name.Builtin.Pseudo */
  .vc { color: #008080 } /* Name.Variable.Class */
  .vg { color: #008080 } /* Name.Variable.Global */
  .vi { color: #008080 } /* Name.Variable.Instance */
  .il { color: #009999 } /* Literal.Number.Integer.Long */



  /* github syntax */
  .pl-c {
    color: #6a737d
  }

  .pl-c1, .pl-s .pl-v {
    color: #005cc5
  }

  .pl-e, .pl-en {
    color: #6f42c1
  }

  .pl-smi, .pl-s .pl-s1 {
    color: #24292e
  }

  .pl-ent {
    color: #22863a
  }

  .pl-k {
    color: #d73a49
  }

  .pl-s, .pl-pds, .pl-s .pl-pse .pl-s1, .pl-sr, .pl-sr .pl-cce, .pl-sr .pl-sre,
  .pl-sr .pl-sra {
    color: #032f62
  }

  .pl-v, .pl-smw {
    color: #e36209
  }

  .pl-bu {
    color: #b31d28
  }

  .pl-ii {
    color: #fafbfc;
    background-color: #b31d28
  }

  .pl-c2 {
    color: #fafbfc;
    background-color: #d73a49
  }

  .pl-c2::before {
    content: "^M"
  }

  .pl-sr .pl-cce {
    font-weight: bold;
    color: #22863a
  }

  .pl-ml {
    color: #735c0f
  }

  .pl-mh, .pl-mh .pl-en, .pl-ms {
    font-weight: bold;
    color: #005cc5
  }

  .pl-mi {
    font-style: italic;
    color: #24292e
  }

  .pl-mb {
    font-weight: bold;
    color: #24292e
  }

  .pl-md {
    color: #b31d28;
    background-color: #ffeef0
  }

  .pl-mi1 {
    color: #22863a;
    background-color: #f0fff4
  }

  .pl-mc {
    color: #e36209;
    background-color: #ffebda
  }

  .pl-mi2 {
    color: #f6f8fa;
    background-color: #005cc5
  }

  .pl-mdr {
    font-weight: bold;
    color: #6f42c1
  }

  .pl-ba {
    color: #586069
  }

  .pl-sg {
    color: #959da5
  }

  .pl-corl {
    text-decoration: underline;
    color: #032f62
  }



}

/*
  .man-badge is added via js
*/
.man-badge {
  border-top-left-radius: 3px;
  bottom: 0;
  opacity: 0.2;
  position: fixed;
  right: 0;
  transition: background $transition-duration;
  transition: opacity $transition-duration;

  &:hover {
    background: #f8f8f8;
    opacity: 1;
  }

  a {
    border: none;
    display: inline-block;
    padding: 10px;
  }
}

sup {
  vertical-align: middle;
  font-size: 9px;
  line-height: 1em;
  display: inline-block;
  margin-left: 5px;

  a,a:visited,a:hover {
    background: var(--color-code-bg);
    border-radius: 10px;
    border-bottom: none;
    color: #fff;
    display: block;
    padding: 3px 5px ;
  }

  a {
    transition: background $transition-duration;
    &:hover {
      background: rgba(0,0,0,0.6);
    }
  }
}
