@charset "UTF-8";

html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}
fieldset {
  margin: 0;
  padding: 0;
}


html {
  background: #fff;
}

body {
  background: #fff;
  color: #000;
  font: 12px menlo, consolas, monaco, monospace;
  margin: 0 auto;
  padding: 50px 0;
  width: 800px;
}

div {
/*  position: relative;
  z-index: 1;*/
}

h1 {
  font-size: 20px;
  font-weight: bold;
  position: relative;
}

h2 {
  font-size:15px;
  font-weight: bold;
  margin: 20px 0 20px 0;
  position: relative;
}

h3 {
  font-weight: bold;
  margin: 20px 0 20px 0;
  position: relative;
}

h1, h2, h3 {
  color: #444;
}

h1 code {
  color: #000;
  font-size: 20px;
  font-weight: bold;
}

h1 i {
  font-style: normal;
  left: -25px;
  position: absolute;
}

a {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: blue;
  text-decoration: none;
  
  &:visited {
    color: purple;
  }
  
  &:hover {
    color: red;
  }
}

strong {
  border-bottom: 1px solid #000;
}

h1 a,
h1 a:visited {
  border-bottom-width: 0;
  color: #000;
}

h1 a:hover {
  border-bottom-width: 1px;
}

dt a,
dt a:visited,
h3 a,
h3 a:visited,
h2 a,
h2 a:visited {
  border: none;
  color: #eee;
  left: -15px;
  position: absolute;
  text-decoration: none;
  transition: color 0.2s linear;
}


dt:hover a,
h3:hover a,
h2:hover a {
  color: #888;
}


dt:target a,
h2:target a,
h3:target a,
dt:target a:hover,
h2:target a:hover,
h3:target a:hover {
  color: red;
}

h3 a:hover,
dt a:hover,
h2 a:hover {
  text-decoration: underline;
  color: blue;
}

p {
  margin: 20px 0;
  line-height: 2em;
}

p + p {
  margin-top: -10px;
}

dt {
  position: relative;
}

dl {
  margin: 20px 0;
}

dd {
  line-height: 2em;
  margin: 10px 0;
  padding-left: 10px;
  
  &:last-child {
    margin-bottom: 0;
  }
}


dd ul, dd ol {
  margin-top: 10px;
}

dd:before {
  content: "-";
  padding-right:10px;
}

dt + dd > pre {
  margin: 0;
}

dd + dd > pre {
  margin: -10px 0 10px 0;
}

li {
  line-height: 2em;
  margin-bottom: 10px;
  padding-left: 10px;

  ul {
    margin-top: 10px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

ol li {
  list-style-position: inside;
  list-style-type: decimal;
}

li:last-child {
  margin-bttom: 0;
}

ul li:before {
  content: "×";
  color: #666;
  padding-right: 10px;
}

ul.log li,
ol.log li {

}


li.hi {
  color: #FB4541;
}

li.med {
  color: #FC982F;
}

li.lo {
  color: #33B0F4;
}


ul.log li:before, ol.log li:before {
  content: "";
}


em {
  font-style: italic;
}

code {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: #000;
  padding: 0 5px;
  transition: color 0.2s, background 0.2s;

  &:hover {
    background: rgba(0, 0, 0, 0.4); //rgba(61,255,6,1.0);
    color: #fff;
  }
}

table {
  margin: 20px 0;

  thead {
    th {
      text-align: center;
      border: 1px solid #ccc;
      padding: 5px;
      background: #eee;
    }
  }

  tbody {
    th, td {
      border: 1px solid #ddd;
      padding: 5px;
    }

    td {
      text-align: center;
    }
  }
}

pre {

  font-family: consolas, menlo, monaco, monospace-serif;
  background: rgba(0,0,0,0.03);
  background: rgba(0,0,0,0.02);
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.1);
  cursor: text;
  margin: 20px 0;
  overflow: scroll;
  padding: 10px;
  position: relative;
  transition: background-color 0.2s, border-color 0.2s, transform 0.1s;

  &:target,
  &:hover {
    background:rgba(0,0,0,0.05);
    border-color: rgba(0,0,0,0.3);
    transform: scale(1.05);
  }

  table {
    width: 100%;
    margin: 0;
  }

  tr {
    td {
      padding: 0.1em 0;
      transition: background-color 0.1s;
      border: none;
      text-align: left;

      &.code:hover {
        background: rgba(224, 224, 224, 0.4);
      }

      &.col {
        color: rgba(0,0,0,0.1);
        transition: color 0.2s;
      }

    }

    &.highlighted td.code {
      background: rgba(255, 245, 5, 0.50);
    }
  }

  &:hover td.col {
    color: rgba(0,0,0,0.2);
  }

  &.lines {
    padding: 10px 0;  
  }

  code {
    &:hover {
      background: transparent;
    }
    padding: 0;
    line-height: 15px;
    background: transparent;
  }


  a {
    border-bottom-width: 0;
    color: blue;

    &:hover {
      border-bottom-width: 1px;
    }   

    &.hash {

      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      border-top-left-radius: 3px;
      border: none;
      bottom: 0;
      color: rgba(0,0,0,0.3);
      display: block;
      font-style: normal;
      opacity: 0;
      padding: 5px;
      position: absolute;
      right: 0;
      transition: opacity 0.2s;
      user-select: none;
    }
  } // /pre a

  &:hover a.hash {
    opacity: 1;

    &:hover {
      background: rgba(0,0,0,0.3);
      color: rgba(255,255,255,1);
      text-decoration: none;
    }

  }

  i {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }
}



dl {
  margin: 10px 0;
}

hr {
  background: rgba(127,127,127,0.1);
  border: none;
  height: 1px;
  line-height: 0;
  margin: 20px 0;
  padding: 0;
}

body > img {
  box-shadow: 1px 1px 5px #ddd;
  
  & > img.screenshot {
    box-shadow: none;
  }
}

td.col {
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  color: #888;
  cursor: pointer;
  font-size: 11px;
  padding: 0 5px;
  text-align: right;
  user-select: none;
  width: 1%;

  &::before {
    content: attr(data-line-number)
  }

  &:hover::before {
    color: #000;
  }

}

#man {

  /* 
    form elements
  */

  input[type=reset],
  input[type=submit],
  button {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.3);
    font-family: consolas, menlo, monaco, monospace-serif;
    font-size: 11px;
    padding: 5px 10px;
    transition: background-color 0.2s, transform 0.1s, color 0.01s;

    &[disabled] {
      opacity: 0.8;
    }

    &:active {
      
    }

    &:not([disabled]):hover {
      background: #ddd;
      transform: translate(0px, 2px);
      cursor: pointer;
    }
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: rgba(0,0,0,0.05);
    background-image: url(data:image/svg+xml;charset=UTF-8;base64,PHN2ZyB3aWR0aD0iMTM2IiBoZWlnaHQ9IjEwMSIgdmlld0JveD0iMCAwIDEzNiAxMDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYxLjQ3IDk2Ljc3TDEuOTMgMTIuNjJBOCA4IDAgMCAxIDguNDYgMGgxMTkuMDhhOCA4IDAgMCAxIDYuNTMgMTIuNjJMNzQuNTMgOTYuNzdhOCA4IDAgMCAxLTEzLjA2IDB6IiBmaWxsPSJyZ2JhKDAsMCwwLDAuMykiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==); /* triangle.svg */
    background-position: right 7px center;
    background-repeat: no-repeat;
    background-size: 9px 6px;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,0.3);
    font-family: consolas, menlo, monaco, monospace-serif;
    font-size: 11px;
    padding: 5px 22px 5px 10px;
    transition: background-color 0.2s, transform 0.05s, color 0.2s;

    &[disabled] {
      background-image: url(data:image/svg+xml;charset=UTF-8;base64,PHN2ZyB3aWR0aD0iMTM2IiBoZWlnaHQ9IjEwMSIgdmlld0JveD0iMCAwIDEzNiAxMDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYxLjQ3IDk2Ljc3TDEuOTMgMTIuNjJBOCA4IDAgMCAxIDguNDYgMGgxMTkuMDhhOCA4IDAgMCAxIDYuNTMgMTIuNjJMNzQuNTMgOTYuNzdhOCA4IDAgMCAxLTEzLjA2IDB6IiBmaWxsPSJyZ2JhKDAsMCwwLDAuMikiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==); /* triangle-disabled.svg */
      opacity: 0.8;
    }

    &:not([disabled]):hover {
      background-color: #ddd;
      background-image: url(data:image/svg+xml;charset=UTF-8;base64,PHN2ZyB3aWR0aD0iMTM2IiBoZWlnaHQ9IjEwMSIgdmlld0JveD0iMCAwIDEzNiAxMDEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTYxLjQ3IDk2Ljc3TDEuOTMgMTIuNjJBOCA4IDAgMCAxIDguNDYgMGgxMTkuMDhhOCA4IDAgMCAxIDYuNTMgMTIuNjJMNzQuNTMgOTYuNzdhOCA4IDAgMCAxLTEzLjA2IDB6IiBmaWxsPSJyZ2JhKDAsMCwwLDAuNSkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==); /* triangle-hover.svg */
      cursor: pointer;
    }
  }

  input[type=submit] {
  
  }


  input[type=password],
  input[type=number],
  input[type=text],
  input[type=email] {

    font-size: 11px;
    border: 1px solid rgba(0,0,0,0.3);
    padding: 5px 10px;
    border-radius: 4px;
    transition: transform 0.2s, background 0.2s, color 0.2s;

    &[type=number] {
      width: 6em;
      padding-right: 5px;
    }

    &:not([disabled]):hover {
      transform: scale(1.1);
    }

    &:not([disabled]):focus {
      transform: scale(1.2);
      outline: none;
      background: #ddd;
      box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }

    &[disabled] {
      color: rgba(0,0,0,0.2);
      border: 1px solid rgba(0,0,0,0.2);
    }
  }

  label {

    input[type=radio],
    input[type=checkbox] {

      -moz-appearance: none;
      -webkit-appearance: none;
      border: 1px solid #444;
      display: inline-block;
      height: 11px;
      transition: background-color 0.1s;
      width: 11px;

      &:not([disabled]):hover {
        cursor: pointer;

        & ~ span {
          cursor: pointer;
        }
      }

      &[disabled],
      &[disabled] ~ span{
        opacity: 0.5;
      }
    }

    input[type=checkbox] {
      border-radius: 2px;
      background-color: #eee;
    }

    input[type=checkbox]:checked {
      background-color: green;
    }

    input[type=radio] {
      border-radius: 5px;
      background-color: #eee;
    }

    input[type=radio]:checked {
      background-color: green;
    }
  }
}


@media screen and (max-device-width: 480px) { /* smartphone */

  body {
    margin: 0 auto;
    padding: 10px 0;
    width: 90%;
  }
  
  #man {
    -webkit-text-size-adjust: 100%;
  }

  h1 i {
    display: none;
  }
}


@media only screen and (device-width: 768px) { /* tablet */

  body {
    margin: 0 auto;
    padding: 10px 0; 
    width: 90%;
  }
  #man {
    -webkit-text-size-adjust: 100%;
  }

  h1 i {
    display: none;
  }

}

/*
@media only screen and (-webkit-min-device-pixel-ratio: 2) { /* retina

}
*/

pre { /* pygments */

  .hll { background-color: #ffffcc }
  .c { color: #999988; } /* Comment */
  .err { color: #a61717; background-color: #e3d2d2 } /* Error */
  .o { color: #000000;  } /* Operator */
  .cm { color: #999988; } /* Comment.Multiline */
  .cp { color: #999999;  font-style: italic } /* Comment.Preproc */
  .c1 { color: #999988; } /* Comment.Single */
  .cs { color: #999999; font-weight: bold; } /* Comment.Special */
  .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
  .ge { color: #000000; font-style: italic } /* Generic.Emph */
  .gr { color: #aa0000 } /* Generic.Error */
  .gh { color: #999999 } /* Generic.Heading */
  .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
  .go { color: #888888 } /* Generic.Output */
  .gp { color: #555555 } /* Generic.Prompt */
  .gs { font-weight: bold } /* Generic.Strong */
  .gu { color: #aaaaaa } /* Generic.Subheading */
  .gt { color: #aa0000 } /* Generic.Traceback */
  .k { color: #a71d5d; } /* Keyword */
  .kc { color: #0086b3; } /* Keyword.Constant */
  .kd { color: #a71d5d; } /* Keyword.Declaration */
  .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
  .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
  .kr { color: #0086b3; } /* Keyword.Reserved */   /* ex: const in js */
  .kt { color: #445588; font-weight: bold } /* Keyword.Type */
  .m { color: #009999 } /* Literal.Number */
  .s { color: #183691 } /* Literal.String */
  .na { color: #008080 } /* Name.Attribute */
  .nb { color: #0086B3 } /* Name.Builtin */
  .nc { color: #445588; } /* Name.Class */
  .no { color: #008080 } /* Name.Constant */
  .nd { color: #445588; } /* Name.Decorator */
  .ni { color: #800080 } /* Name.Entity */
  .ne { color: #990000; font-weight: bold } /* Name.Exception */
  .nf { color: #990000; font-weight: bold } /* Name.Function */
  .nl { color: #990000; font-weight: bold } /* Name.Label */
  .nn { color: #555555 } /* Name.Namespace */
  .nt { color: #63a35c } /* Name.Tag */
  .nv { color: #008080 } /* Name.Variable */
  .ow { color: #000000; font-weight: bold } /* Operator.Word */
  .w { color: #bbbbbb } /* Text.Whitespace */
  .mf { color: #009999 } /* Literal.Number.Float */
  .mh { color: #009999 } /* Literal.Number.Hex */
  .mi { color: #009999 } /* Literal.Number.Integer */
  .mo { color: #009999 } /* Literal.Number.Oct */
  .sb { color: #d01040 } /* Literal.String.Backtick */
  .sc { color: #d01040 } /* Literal.String.Char */
  .sd { color: #d01040 } /* Literal.String.Doc */
  .s2 { color: #d01040 } /* Literal.String.Double */
  .se { color: #d01040 } /* Literal.String.Escape */
  .sh { color: #d01040 } /* Literal.String.Heredoc */
  .si { color: #d01040 } /* Literal.String.Interpol */
  .sx { color: #d01040 } /* Literal.String.Other */
  .sr { color: #009926 } /* Literal.String.Regex */
  .s1 { color: #183691 } /* Literal.String.Single */
  .ss { color: #990073 } /* Literal.String.Symbol */
  .bp { color: #999999 } /* Name.Builtin.Pseudo */
  .vc { color: #008080 } /* Name.Variable.Class */
  .vg { color: #008080 } /* Name.Variable.Global */
  .vi { color: #008080 } /* Name.Variable.Instance */
  .il { color: #009999 } /* Literal.Number.Integer.Long */
}

/* 
  .man-badge is added via js
*/
.man-badge {
  border-top-left-radius: 3px;
  bottom: 0;
  opacity: 0.2;
  position: fixed;
  right: 0;
  transition: background 0.2s;
  transition: opacity 0.2s;

  &:hover {
    background: #f8f8f8;
    opacity: 1;
  }

  a {
    border: none;
    display: inline-block;
    padding: 10px;
  }
}